@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Fraunces:opsz,wght@9..144,700&family=Hanken+Grotesk:wght@300;500;700;800&family=Kumbh+Sans:wght@300;400;600;900&family=Open+Sans&family=Outfit:wght@100;200&family=Red+Hat+Display:wght@300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: "Poppins", sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.text {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 30px auto 0;
  align-items: center;
  justify-content: flex-start;
}
.text h2 {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 32px;
  color: hsl(0, 1%, 58%);
}
.text h1 {
  margin-bottom: 20px;
}
.text p {
  text-align: center;
  color: hsl(0, 1%, 58%);
  font-weight: 200;
}
.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto 20px;
}

.item {
  background-color: #f5f7fa;
  height: auto;
  width: 350px;
  padding: 15px;
}

.item1 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 15px;
  box-shadow: 0px 3px hsl(212, 86%, 90%);
}
.hr {
  z-index: -1;
  background-color: hsl(180, 62%, 55%);
  width: 340px;
  height: 20px;
  align-items: center;
  position: relative;
  bottom: 18px;
  right: 10px;
  border-radius: 15px;
}
.item2 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 15px;
  position: relative;
  top: 80px;
  box-shadow: 0px 3px hsl(212, 86%, 90%);
}
.hr2 {
  z-index: -1;
  background-color: red;
  width: 340px;
  height: 20px;
  align-items: center;
  position: relative;
  bottom: 18px;
  right: 10px;
  border-radius: 15px;
}
.item3 {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  border-radius: 15px;
  border-radius: 15px;
  position: relative;
  bottom: 80px;
  box-shadow: 0px 3px hsl(212, 86%, 90%);
}
.hr3 {
  z-index: -1;
  background-color: hsl(34, 97%, 64%);
  width: 340px;
  height: 20px;
  align-items: center;
  position: relative;
  bottom: 18px;
  right: 10px;
  border-radius: 15px;
}
.item4 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  box-shadow: 0px 3px hsl(212, 86%, 90%);
}
.hr4 {
  z-index: -1;
  background-color: hsl(212, 86%, 64%);
  width: 340px;
  height: 20px;
  align-items: center;
  position: relative;
  bottom: 18px;
  right: 10px;
  border-radius: 15px;
}
h3 {
  margin-bottom: 15px;
}
p {
  color: hsl(0, 1%, 58%);
  margin-bottom: 20px;
}
img {
  float: right;
}
.attribution {
  position: relative;
  top: 170px;
}

@media only screen and (min-width: 376px) and (max-width: 640px) {
  .text {
    margin: 2cap auto;
    width: 80%;
  }
  .text p {
    /* width: 78%; */
    line-height: 1.5em;
    letter-spacing: 0.15em;
  }
  .card {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .item1 {
    grid-row-start: 1;
    grid-column-start: 1;
  }
  .item2 {
    grid-row-start: 2;
    grid-column-start: 1;
    bottom: 0;
    top: 0;
  }
  .item3 {
    grid-row-start: 3;
    grid-column-start: 1;
    bottom: 0;
    top: 0;
  }

  .item4 {
    grid-row-start: 4;
    grid-column-start: 1;
  }
  .attribution {
    top: 550px;
    width: 80%;
  }
}
